body {
  font-family: 'SourceHanSansCN-Light', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased; }
  body .qk-navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;
    background: rgba(0, 0, 0, 0.25); }
    body .qk-navbar .qk-logo {
      width: 182px;
      height: 30px;
      margin: 25px 80px; }
    body .qk-navbar .nav-btn-wrapper {
      float: right;
      margin-right: 80px;
      margin-top: 26px; }
      body .qk-navbar .nav-btn-wrapper a.btn {
        height: 28px;
        opacity: 0.5;
        background: rgba(255, 255, 255, 0.25);
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        font-family: PingFang-SC-Medium;
        font-size: 13px;
        color: #FFFFFF;
        padding: 5px 14px;
        box-sizing: border-box; }
        body .qk-navbar .nav-btn-wrapper a.btn span {
          font-family: PingFang-SC-Medium;
          font-size: 13px;
          color: #FFFFFF;
          position: relative; }
      body .qk-navbar .nav-btn-wrapper a.btn-login {
        margin-left: 10px; }
  body .qk-banner {
    text-align: center;
    height: 750px;
    background-image: url("http://qianka.b0.upaiyun.com/images/89d6730bad9ccff5563a2c95fd1fc801.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    body .qk-banner .title {
      margin-top: 277px; }
    body .qk-banner .register {
      display: block;
      margin: 40px auto 180px auto;
      font-family: PingFang-SC-Medium;
      font-size: 18px;
      color: #FFFFFF;
      width: 200px;
      height: 60px;
      background: #1B80C3;
      border-radius: 100px;
      line-height: 42px; }
  body .qk-list {
    width: 100%;
    margin-top: 185px; }
    body .qk-list.center {
      text-align: center; }
    body .qk-list .title {
      font-family: SourceHanSansCN-Light;
      font-size: 36px;
      line-height: 36px;
      color: #3A3A3A;
      text-align: center; }
    body .qk-list .desc {
      font-family: SourceHanSansCN-Light;
      font-size: 14px;
      line-height: 14px;
      color: #3A3A3A;
      margin-top: 52px; }
    body .qk-list .sub-desc {
      font-family: SourceHanSansCN-Light;
      font-size: 13px;
      color: #AAAAAA; }
    body .qk-list .content-wraper .row {
      width: 100%; }
      body .qk-list .content-wraper .row .col-lg-6 {
        height: 300px;
        padding: 0px; }
        body .qk-list .content-wraper .row .col-lg-6 .content {
          padding-top: 75px;
          padding-bottom: 94px;
          font-family: SourceHanSansCN-Light;
          position: relative;
          text-align: left; }
          body .qk-list .content-wraper .row .col-lg-6 .content img {
            width: 90px;
            height: 90px;
            margin-right: 32px;
            position: absolute; }
          body .qk-list .content-wraper .row .col-lg-6 .content .big-tip {
            font-size: 24px;
            line-height: 24px;
            color: #3A3A3A;
            letter-spacing: 0;
            margin-bottom: 16px;
            margin-top: 19px; }
          body .qk-list .content-wraper .row .col-lg-6 .content .tip {
            font-size: 16px;
            line-height: 16px;
            color: #3A3A3A;
            margin-bottom: 18px; }
          body .qk-list .content-wraper .row .col-lg-6 .content .desc {
            font-size: 14px;
            color: #AAAAAA; }
      body .qk-list .content-wraper .row .pdl-122 {
        padding-left: 122px; }
      body .qk-list .content-wraper .row .grey {
        background: #FAFAFA; }
      body .qk-list .content-wraper .row .right {
        float: right;
        padding-left: 122px;
        padding-right: 83px; }
        body .qk-list .content-wraper .row .right img {
          left: 0px; }
      body .qk-list .content-wraper .row .left {
        float: left;
        padding-left: 179px; }
        body .qk-list .content-wraper .row .left img {
          left: 57px; }
    body .qk-list .content-wraper .big-pic-1 {
      margin-top: 124px; }
    body .qk-list .content-wraper .big-pic-2 {
      margin-top: 122px; }
    body .qk-list .content-wraper .big-pic-3 {
      margin-top: 92px; }
    body .qk-list .content-wraper .register {
      text-align: center;
      line-height: 60px;
      width: 200px;
      height: 60px;
      margin: 120px auto 0;
      font-family: PingFang-SC-Medium;
      font-size: 18px;
      color: #FFFFFF;
      background: #1B80C3;
      border-radius: 100px; }
  body .qk-client {
    width: 100%;
    margin-top: 185px; }
    body .qk-client.center {
      text-align: center; }
    body .qk-client .title {
      font-family: SourceHanSansCN-Light;
      font-size: 36px;
      color: #3A3A3A;
      margin-bottom: 122px; }
    body .qk-client .desc {
      font-family: SourceHanSansCN-Light;
      font-size: 16px;
      color: #3A3A3A;
      margin-bottom: 84px; }
    body .qk-client .author {
      font-family: SourceHanSansCN-Light;
      font-size: 14px;
      line-height: 14px;
      color: #3A3A3A;
      margin-bottom: 101px; }
    body .qk-client .content-wrapper .client-wrapper {
      width: 554px;
      height: 64px;
      margin: 0 auto; }
      body .qk-client .content-wrapper .client-wrapper div {
        width: 64px;
        height: 64px;
        margin-right: 34px;
        float: left;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      body .qk-client .content-wrapper .client-wrapper div:last-child {
        margin-right: 0px; }
      body .qk-client .content-wrapper .client-wrapper .googlo-logo {
        background-image: url("http://qianka.b0.upaiyun.com/images/d119e089411b71a5dead7a5b806e82b6.png"); }
      body .qk-client .content-wrapper .client-wrapper .googlo-logo.active {
        background-image: url("http://qianka.b0.upaiyun.com/images/5e0721dd1b480fee9816671df59c0049.png"); }
      body .qk-client .content-wrapper .client-wrapper .baidu-logo {
        background-image: url("http://qianka.b0.upaiyun.com/images/8a13cf6e5a4eea970b2511606049dff5.png"); }
      body .qk-client .content-wrapper .client-wrapper .baidu-logo.active {
        background-image: url("http://qianka.b0.upaiyun.com/images/da0de1de88804f2dcb0b370e8571ce90.png"); }
      body .qk-client .content-wrapper .client-wrapper .jd-logo {
        background-image: url("http://qianka.b0.upaiyun.com/images/bf2c3690c7eb247eb9fc13ebf6731623.png"); }
      body .qk-client .content-wrapper .client-wrapper .jd-logo.active {
        background-image: url("http://qianka.b0.upaiyun.com/images/954eab8bd75acfcde0cb1b523aa97b83.png"); }
      body .qk-client .content-wrapper .client-wrapper .tunu-logo {
        background-image: url("http://qianka.b0.upaiyun.com/images/fa045efeb36711714e57ad8bfbd726ad.png"); }
      body .qk-client .content-wrapper .client-wrapper .tunu-logo.active {
        background-image: url("http://qianka.b0.upaiyun.com/images/16060cc36faafb19a139e16d07c4d5cc.png"); }
      body .qk-client .content-wrapper .client-wrapper .uc-logo {
        background-image: url("http://qianka.b0.upaiyun.com/images/edbdb81b64114c6ce0a1321e0b49429f.png"); }
      body .qk-client .content-wrapper .client-wrapper .uc-logo.active {
        background-image: url("http://qianka.b0.upaiyun.com/images/b864f3a9ad82e5fa60e0c6396280fdc4.png"); }
      body .qk-client .content-wrapper .client-wrapper .fen-logo {
        background-image: url("http://qianka.b0.upaiyun.com/images/2366bb0752b688f58f65d0ff2f6b5974.png"); }
      body .qk-client .content-wrapper .client-wrapper .fen-logo.active {
        background-image: url("http://qianka.b0.upaiyun.com/images/03c25021cb28ec77c6f583993067215a.png"); }
  body .pdb-180 {
    padding-bottom: 180px; }
  body .pdb-178 {
    padding-bottom: 178px; }
  body .pdb-111 {
    padding-bottom: 111px; }
  body .center {
    text-align: ceter; }
  body .line {
    width: 80px;
    height: 1px;
    margin: 0 auto;
    background: #DDDDDD; }
  body .brands {
    width: 926px;
    height: auto;
    margin: 111px auto 0px; }
    body .brands .brand {
      float: left;
      margin-right: 52px;
      margin-bottom: 20px;
      width: 142px;
      height: 54px;
      background-color: #ddd; }
    body .brands .brand:nth-child(5n) {
      margin-right: 0px; }
    body .brands #load-more {
      width: 80px;
      height: 36px;
      margin: 81px auto 0px;
      background-image: url("http://qianka.b0.upaiyun.com/images/96419b759a5d46df558d00a8933631d7.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
  body .brand-hide {
    display: none; }
  body .footer-wrapper {
    margin-top: 180px;
    width: 100%;
    height: 509px;
    background-image: url("http://qianka.b0.upaiyun.com/images/89d6730bad9ccff5563a2c95fd1fc801.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 105px; }
    body .footer-wrapper .title {
      width: 486px;
      height: 82px;
      display: block;
      margin: 0px auto 81px; }
    body .footer-wrapper .register {
      text-align: center;
      line-height: 50px;
      background: #1B80C3;
      border-radius: 80px;
      font-family: PingFang-SC-Medium;
      font-size: 16px;
      color: #FFFFFF;
      width: 160px;
      height: 50px;
      margin: 0 auto 124px; }
    body .footer-wrapper .copyright {
      text-align: center;
      opacity: 0.4;
      font-family: SourceHanSansCN-Light;
      font-size: 13px;
      color: #FFFFFF; }

/*# sourceMappingURL=index.css.map */
